<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenseed.shortlink.project.dao.mapper.LinkAccessLogsMapper">

    <!-- 根据短链接获取指定日期内的高频访问 IP 数据 -->
    <select id="listTopIpByShortLink" parameterType="com.tenseed.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="java.util.HashMap">
        SELECT tlal.ip,
               COUNT(tlal.ip) AS count
        FROM t_link t1
                 INNER JOIN
             t_link_access_logs tlal
             ON t1.full_short_url = tlal.full_short_url
        WHERE tlal.full_short_url = #{param.fullShortUrl}
          AND t1.gid = #{param.gid}
          AND t1.del_flag = 0
          AND t1.enable_status = #{param.enableStatus}
          AND tlal.create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tlal.full_short_url, t1.gid, tlal.ip
        ORDER BY count DESC
        LIMIT 5
    </select>

    <!-- 根据分组获取指定日期内高频访问IP数据 -->
    <select id="listTopIpByGroup" resultType="java.util.HashMap">
        SELECT tlal.ip,
               COUNT(tlal.ip) AS count
        FROM t_link tl
                 INNER JOIN t_link_access_logs tlal
                            ON tl.full_short_url = tlal.full_short_url
        WHERE tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlal.create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tl.gid, tlal.ip
        ORDER BY count DESC
        LIMIT 5;
    </select>

    <!-- 根据短链接获取指定日期内新旧访客数据 -->
    <select id="findUvTypeCntByShortLink" parameterType="com.tenseed.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="java.util.HashMap">
        SELECT SUM(old_user) AS oldUserCnt,
               SUM(new_user) AS newUserCnt
        FROM (SELECT IF(COUNT(DISTINCT DATE(tlal.create_time)) > 1, 1, 0) AS old_user,
                     IF(
                             COUNT(DISTINCT DATE(tlal.create_time)) = 1
                                 AND MAX(tlal.create_time) &gt;= #{param.startDate}
                                 AND MAX(tlal.create_time) &lt;= #{param.endDate},
                             1,
                             0
                     )                                                    AS new_user
              FROM t_link tl
                       INNER JOIN t_link_access_logs tlal
                                  ON tl.full_short_url = tlal.full_short_url
              WHERE tlal.full_short_url = #{param.fullShortUrl}
                AND tl.gid = #{param.gid}
                AND tl.enable_status = #{param.enableStatus}
                AND tl.del_flag = '0'
              GROUP BY tlal.user) AS user_counts;
    </select>


    <!-- 获取用户信息是否新老访客 -->
    <select id="selectUvByUsers" parameterType="com.tenseed.shortlink.project.dto.biz.ShortLinkUvTypeQueryDTO"
            resultType="java.util.Map">
        SELECT
        tlal.user,
        IF(MIN(tlal.create_time) BETWEEN #{startDate} AND #{endDate}, '新访客', '老访客') AS uvType
        FROM
        t_link tl
        INNER JOIN t_link_access_logs tlal
        ON tl.full_short_url = tlal.full_short_url
        WHERE
        tlal.full_short_url = #{fullShortUrl}
        AND tl.gid = #{gid}
        AND tl.del_flag = '0'
        AND tl.enable_status = #{enableStatus}
        AND tlal.user IN
        <foreach item="item" index="index" collection="userAccessLogsList" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY
        tlal.user;
    </select>

    <!-- 获取分组用户信息是否新老访客 -->
    <select id="selectGroupUvTypeByUsers" resultType="java.util.Map">
        SELECT
        tlal.user,
        IF(MIN(tlal.create_time) BETWEEN #{startDate} AND #{endDate}, '新访客', '老访客') AS uvType
        FROM
        t_link tl
        INNER JOIN t_link_access_logs tlal
        ON tl.full_short_url = tlal.full_short_url
        WHERE
        tl.gid = #{gid}
        AND tl.del_flag = '0'
        AND tl.enable_status = '0'
        AND tlal.user IN
        <foreach item="item" index="index" collection="userAccessLogsList" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY
        tlal.user;
    </select>

    <!-- 根据短链接获取指定日期内PV、UV、UIP数据 -->
    <select id="findPvUvUidStatsByShortLink" resultType="com.tenseed.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT COUNT(tlal.user)          AS pv,
               COUNT(DISTINCT tlal.user) AS uv,
               COUNT(DISTINCT tlal.ip)   AS uip
        FROM t_link tl
                 INNER JOIN t_link_access_logs tlal
                            ON tl.full_short_url = tlal.full_short_url
        WHERE tlal.full_short_url = #{param.fullShortUrl}
          AND tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = #{param.enableStatus}
          AND tlal.create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tlal.full_short_url,
                 tl.gid;
    </select>

    <!-- 根据分组获取指定日期内PV、UV、UIP数据 -->
    <select id="findPvUvUidStatsByGroup" resultType="com.tenseed.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT COUNT(tlal.user)          AS pv,
               COUNT(DISTINCT tlal.user) AS uv,
               COUNT(DISTINCT tlal.ip)   AS uip
        FROM t_link tl
                 INNER JOIN t_link_access_logs tlal
                            ON tl.full_short_url = tlal.full_short_url
        WHERE tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlal.create_time BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tl.gid;
    </select>

    <!-- 分组获取指定日期内访问记录 -->
    <select id="selectGroupPage" resultType="com.tenseed.shortlink.project.dao.entity.LinkAccessLogsDO">
        SELECT tlal.*
        FROM t_link tl
                 INNER JOIN t_link_access_logs tlal
                            ON tl.full_short_url = tlal.full_short_url
        WHERE tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlal.create_time BETWEEN #{param.startDate} AND #{param.endDate}
        ORDER BY tlal.create_time DESC;
    </select>
</mapper>
