<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenseed.shortlink.project.dao.mapper.LinkOsStatsMapper">

    <!-- 记录访问系统监控数据 -->
    <insert id="shortLinkOsStats" parameterType="com.tenseed.shortlink.project.dao.entity.LinkOsStatsDO">
        INSERT INTO t_link_os_stats (full_short_url,
                                     date,
                                     cnt,
                                     os,
                                     create_time,
                                     update_time,
                                     del_flag)
        VALUES (#{linkOsStats.fullShortUrl},
                #{linkOsStats.date},
                #{linkOsStats.cnt},
                #{linkOsStats.os},
                NOW(),
                NOW(),
                0)
        ON DUPLICATE KEY UPDATE cnt = cnt + #{linkOsStats.cnt};
    </insert>

    <!-- 根据短链接获取指定日期内操作系统监控数据 -->
    <select id="listOsStatsByShortLink" parameterType="com.tenseed.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="java.util.HashMap">
        SELECT tlos.os,
               SUM(tlos.cnt) AS count
        FROM t_link tl
                 INNER JOIN t_link_os_stats tlos
                            ON tl.full_short_url = tlos.full_short_url
        WHERE tlos.full_short_url = #{param.fullShortUrl}
          AND tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlos.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tlos.full_short_url,
                 tl.gid,
                 tlos.os;
    </select>

    <!-- 根据分组获取指定日期内操作系统监控数据 -->
    <select id="listOsStatsByGroup" parameterType="com.tenseed.shortlink.project.dto.req.ShortLinkGroupStatsReqDTO"
            resultType="java.util.HashMap">
        SELECT tlos.os,
               SUM(tlos.cnt) AS count
        FROM t_link tl
                 INNER JOIN t_link_os_stats tlos
                            ON tl.full_short_url = tlos.full_short_url
        WHERE tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlos.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tl.gid,
                 tlos.os;
    </select>
</mapper>
