<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenseed.shortlink.project.dao.mapper.LinkLocaleStatsMapper">

    <!-- 记录访问地区监控数据 -->
    <insert id="shortLinkLocaleStats" parameterType="com.tenseed.shortlink.project.dao.entity.LinkLocaleStatsDO">
        INSERT INTO t_link_locale_stats (full_short_url,
                                         date,
                                         cnt,
                                         country,
                                         province,
                                         city,
                                         adcode,
                                         create_time,
                                         update_time,
                                         del_flag)
        VALUES (#{linkLocaleStats.fullShortUrl},
                #{linkLocaleStats.date},
                #{linkLocaleStats.cnt},
                #{linkLocaleStats.country},
                #{linkLocaleStats.province},
                #{linkLocaleStats.city},
                #{linkLocaleStats.adcode},
                NOW(),
                NOW(),
                0)
        ON DUPLICATE KEY UPDATE cnt = cnt + #{linkLocaleStats.cnt};
    </insert>

    <!-- 根据短链接获取指定日期内地区监控数据 -->
    <select id="listLocaleByShortLink" parameterType="com.tenseed.shortlink.project.dto.req.ShortLinkStatsReqDTO"
            resultType="com.tenseed.shortlink.project.dao.entity.LinkLocaleStatsDO">
        SELECT tlls.province,
               SUM(tlls.cnt) AS cnt
        FROM t_link tl
                 INNER JOIN t_link_locale_stats tlls
                            ON tl.full_short_url = tlls.full_short_url
        WHERE tlls.full_short_url = #{param.fullShortUrl}
          AND tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlls.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tlls.full_short_url, tl.gid, tlls.province
    </select>

    <!-- 根据分组获取指定日期内地区监控数据 -->
    <select id="listLocaleByGroup" parameterType="com.tenseed.shortlink.project.dto.req.ShortLinkGroupStatsReqDTO"
            resultType="com.tenseed.shortlink.project.dao.entity.LinkLocaleStatsDO">
        SELECT tlls.province,
               SUM(tlls.cnt) AS cnt
        FROM t_link tl
                 INNER JOIN t_link_locale_stats tlls
                            ON tl.full_short_url = tlls.full_short_url
        WHERE tl.gid = #{param.gid}
          AND tl.del_flag = '0'
          AND tl.enable_status = '0'
          AND tlls.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY tl.gid,
                 tlls.province;
    </select>
</mapper>
